<launch>
<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
<node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find slam_sim_demo)/config
          -configuration_basename mapping.lua"
      output="screen">
    <remap from="echoes" to="scan" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
<include file="$(find slam_sim_demo)/launch/move_base.launch"/>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find slam_sim_demo)/rviz/real_run.rviz" />
</launch>
